DATABASE_URL=postgres://bakala:secret@localhost:5432/bakala
REDIS_URL=redis://localhost:6379
ELASTICSEARCH_URL=http://localhost:9200
FRONTEND_URL=http://localhost:5173
PORT=3000
TRACKING_PORT=3001
DISCOVERY_PORT=3002
NODE_ENV=development
